{% ckan_extends %}


{% block content_primary_nav %}

  {# { super() } #}

  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}

  <!-- REVISION TAB -->
  {#
  {% if (h.admin_only and h.check_access('sysadmin')) or not h.admin_only %}
  #}
    {{ h.build_nav_icon('dataset_revision', _('Revisions'), id=pkg.name, icon='shield') }}
  {#
  {% endif %}
  #}

  {# {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }} #}

{% endblock %}

